<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>RareVariantVis</title>

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-animate/angular-animate.min.js"></script>
<script src="lib/ng-file-upload-shim/ng-file-upload-shim.js"></script>
<script src="lib/ng-file-upload/ng-file-upload.js"></script>
<script src="lib/angular-loading-bar/build/loading-bar.min.js"></script>

<script src="javascripts/formController.js"></script>

<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/awesome-bootstrap-checkbox.css">
<link rel="stylesheet" href="lib/angular-loading-bar/build/loading-bar.min.css">
<link rel='stylesheet' href="/stylesheets/style.css" />
<!--favicon-->
<link rel="apple-touch-icon-precomposed" href="/images/CHOPCHOP_favicon.png">
<link rel="icon" href="/images/CHOPCHOP_favicon.png">
<!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
<meta name="msapplication-TileColor" content="#eee">
<meta name="msapplication-TileImage" content="/images/CHOPCHOP_favicon.png">
