<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.html %>
</head>

<body class="container">
    <header>
        <% include ../partials/header.html %>
    </header>
    <main>
        <div class="text-center">
            <h1>About</h1>
            <div class="box text-left">
                <h4><b>CHOPCHOP is a web tool for selecting the optimum target sites for CRISPR/Cas9, CRISPR/Cpf1 or TALEN-directed mutagenesis.</b></h4>
                <br />
                <p>CHOPCHOP can be run with as few as three basic input options, or with additional advanced parameters. The basic input comprises:
                    <ol style="list-style-type: circle;">
                        <li>a gene name, genomic coordinates or a pasted sequence (including RefSeq and ENSEMBL gene IDs),</li>
                        <li>a growing list of organisms,</li>
                        <li>the choice between CRISPR/Cas9, CRISPR/Cas9 Nickase, CRISPR/Cpf1 or TALEN mode.</li>
                    </ol>
                </p>
                <p>The advanced options provide the user with more flexibility when choosing target sites.</p>
                <p>If you use our tool please cite:
                    <br /> Tessa G. Montague; Jose M. Cruz; James A. Gagnon; George M. Church; Eivind Valen. (2014). <a class="contactUs" href="http://nar.oxfordjournals.org/content/42/W1/W401" target="_blank">CHOPCHOP: a CRISPR/Cas9 and TALEN web tool for genome editing</a>. Nucleic Acids Res. 42. W401-W407</p>
                <p>This work was supported by a National Defense Science and Engineering Graduate (NDSEG) Fellowship; the American Cancer Society; the Human Frontier Science Program and the National Human Genome Research Institute (NHGRI) Center for Excellence in Genomics Science.</p>
                <p>CHOPCHOP is for non-profit and academic use only. All commercial rights are reserved.</p>
            </div>
        </div>
    </main>
</body>

</html>
