<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.html %>
</head>

<body class="container">
    <header>
        <% include ../partials/header.html %>
    </header>
    <main>
        <div class="text-center">
            <h1>Contact Us</h1>
            <div class="box">
                <h3>Please let us know if you have any comments or suggestions about the site by emailing us <a class="contactUs" href="mailto:tessa.montague@gmail.com">here</a>.</h3>
            </div>
        </div>
    </main>
</body>

</html>
